body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.login {
	height: 100vh;
	background-image: linear-gradient(to bottom, #c34c8a, #af4899, #924aa7, #6a4eb3, #2152ba);
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-login {
	width: 350px;
	background: #fff;
	font-family: sans-serif;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-title {
	margin-bottom: 35px;
	color: #0c0c0c;
	text-align: center;
}

.login-form {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
	height: 48px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 8px;
	margin-bottom: 15px;
	background: #e7e7e7;
	outline: none;
	border: none;
	font-size: 17px;
}

.login-submit {
	height: 40px;
	width: 200px;
	box-sizing: border-box;
	margin-bottom: 15px;
	background: #c74b89;
	color: #ffff;
	outline: none;
	border: none;
	font-size: 17px;
	cursor: pointer;
}

.login-submit:hover {
	background: #ce2379;
}

.creat-accont a{
	text-decoration: none;
    color: #424242;
    font-weight: 600;
}

.creat-accont a:hover {
	color: #000000;
}

.delete {
	background: red!important;
}

/* Index */
nav {
	width: 100%;
	height: 50px;
	background-image: linear-gradient(to left, #c34c8a, #af4899, #924aa7, #6a4eb3, #2152ba);
	display: flex;
}

.painel-logo {
	padding: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
} 

.logout {
    width: 70px;
    margin: 5px;
    padding: 10px;
    margin-left: auto;
}

.logout a {
	text-decoration: none;
	color: #ffff;
	background: #1c5aea;
    width: 70px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 15px;
    margin-left: auto;
}

/* Main */

.box {
    background: #f5f5f5;
    min-height: calc(100vh - 135px); /*65px*/
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.alerta-vazio h1 {
	margin: 0;
}

.alerta-vazio {
    background: #f44336;
    width: 450px;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
}

.center-box {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.search {
	margin-left: auto;
}

.search form {
	margin-top: 9px;
}

.search .input-search {
	background: #ccc;
    border: none;
    padding: 9px;
    border-radius: 5px;
}

.search .input-sub {
	opacity: 0;
    cursor: pointer;
    width: 43px;
    height: 33px;
    position: absolute;
    z-index: 100;
}

.search img {
	position: absolute;
    width: 35px;
    margin: -2px 5px;
    cursor: pointer;
    z-index: 0;
}

.card {
	max-width: 350px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #00000057;
    margin: 15px;
}

.card small {
	justify-content: flex-end;
    display: flex;
    padding: 10px;
}

.card img {
	max-width: 350px;
}

.card-title {
	text-align: center;
}

.card-text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.card-footer {
	display: flex;
    justify-content: space-between;
}

.name-user {    
	font-family: 'Roboto', sans-serif;
	text-align: end;
    padding: 0px 15px;
    font-weight: bold;
}

.buttom-download {
	background: #185eff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    margin: 2px;
}

.buttom-download:hover {
 	background: #003bc1;
 }

.p400 {
	font-weight: 400;
}

.btn-page {
	background: #5a4fb4;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin: 5px;
}

.btn-page:hover {
	background: #3c24ff;
}

.active {
	background: #3c24ff;
}

.pagination {
	margin: 30px;
}

footer {
	height: 70px;
    display: flex;
    justify-content: center;
    background: #bb4a903d;
}


.notification-alert {
	position: absolute;
    top: 3rem;
    background: red;
    padding: 5px 30px;
    border-radius: 9px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.center {
	transform: translate(-50%, -50%);
	left: 50%;
}

.notification-confirme {
	position: absolute;
    top: 3rem;
    background: #27c101;
    padding: 5px 30px;
    border-radius: 9px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

/* RESPONSIVO DISPOSITIVOS MOVEIS */
@media screen and (max-width: 720px) {

	.painel-logo {
	    padding: 7px 20px 10px 10px;
	    color: #fff;
	    font-size: 16px;
	    font-weight: bold;
	    width: 50px;
	}

	.search .input-search {
	    background: #ccc;
	    background: #ccc;
	    border: none;
	    padding: 9px;
	    border-radius: 5px;
	    width: 90%;
	}

	.search form {
		margin: 7px 0px 0px -25px;
	}


}